@import './variables.module';

.ProseMirror-hideselection {
  .codemirror {
    .cm-line {
      &::selection {
        color: inherit;
        background-color: inherit !important;
      }
      .ͼb::selection,
      .ͼi::selection,
      .ͼe::selection,
      .ͼg::selection {
        color: inherit;
        background-color: inherit !important;
      }
    }
  }
}

.codemirror {
  .cm-gutters {
    border-right: none;
  }
  .cm-line {
    &::selection {
      color: inherit;
      background-color: $blue-100 !important;
    }
    .ͼb::selection,
    .ͼi::selection,
    .ͼe::selection,
    .ͼg::selection {
      color: inherit;
      background-color: $blue-100 !important;
    }
  }
  .cm-gutterElement::selection,
  .cm-gutterElement *::selection {
    color: inherit;
    background-color: transparent;
  }
  .cm-focused {
    outline: none;
  }
  .cm-scroller {
    overflow: hidden;
  }
  .cm-lineNumbers .cm-gutterElement {
    color: $gray-200;
    font-weight: 500;
    &::selection {
      background-color: transparent;
      color: $gray-200;
    }
  }
  .cm-activeLineGutter,
  .cm-activeLine {
    background-color: $blue-gray-200;
  }
  .cm-search.cm-panel {
    label {
      display: inline-flex;
      align-items: center;
      position: relative;
      padding-left: 18px;
      input {
        margin-right: 5px !important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        opacity: 0;
        z-index: 1;
      }
      &::before {
        content: '';
        font-family: 'Icomoon', sans-serif;
        font-size: 12px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $gray-50;
        border: 1px solid $gray-200;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 13px;
        height: 13px;
        position: absolute;
        border-radius: 2px;
      }
      &:has(input:checked) {
        &::before {
          content: '\e92f';
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
    button {
      border-color: $gray-200;
      background: $white;
      border-radius: 3px;
      &:hover {
        background: $gray-50;

        @include shadow-small;
      }
      &.disabled {
        background: $white;
        border-color: $blue-gray-200;
      }
      &:active,
      &:focus {
        &:not(.disabled) {
          background-color: $gray-100;

          @include shadow-small;
        }
      }
    }
    input {
      outline: none;
      border-radius: 3px;
    }
  }
}
