/* stylelint-disable number-leading-zero  */

/* Variables

 Variables should follow the `$component-state-property-size` formula for
 consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs. */

$input-error-height: 21px;

/* Color system */

/* Base */
$white: #ffffff !default;
$black: #000000 !default;

/* Green */
$green-50: #f4f9f2 !default;
$green-100: #e7f3e8 !default;
$green-200: #e1ebe4 !default;
$green-300: #e1ebe4 !default;
$green-400: #92c7a5 !default;
$green-500: #63af80 !default;
$green-600: #32a05f !default;
$green-700: #208d4c !default;
$green-800: #226936 !default;
$green-900: #23451f !default;

/* Gray */
$gray-50: #f9fafb !default;
$gray-100: #f4f5f7 !default;
$gray-200: #d1d4dc !default;
$gray-300: #d1d5db !default;
$gray-400: #9ca3af !default;
$gray-500: #6b7280 !default;
$gray-600: #4b5563 !default;
$gray-700: #374151 !default;
$gray-800: #1f2937 !default;
$gray-900: #111827 !default;

/* Blue Gray */
$blue-gray-50: #f8fafc !default;
$blue-gray-100: #f1f5f9 !default;
$blue-gray-200: #e2e8f0 !default;
$blue-gray-300: #cbd5e1 !default;
$blue-gray-400: #94a3b8 !default;
$blue-gray-500: #64748b !default;
$blue-gray-600: #475569 !default;
$blue-gray-700: #334155 !default;
$blue-gray-800: #1e293b !default;
$blue-gray-900: #0f172a !default;

/* Blue */
$blue-50: #f0f5fa !default;
$blue-100: #e3edfa !default;
$blue-200: #bfdbfe !default;
$blue-300: #b3cef0 !default;
$blue-400: #548fdd !default;
$blue-500: #3c7fd8 !default;
$blue-600: #3c7fd8 !default;
$blue-700: #3269b2 !default;
$blue-800: #295693 !default;
$blue-900: #22477a !default;

/* Yellow */
$yellow-50: #fcfaf2 !default;
$yellow-100: #f9f0cc !default;
$yellow-200: #fde68a !default;
$yellow-300: #f7d577 !default;
$yellow-400: #edb932 !default;
$yellow-500: #e69a1a !default;
$yellow-600: #d97706 !default;
$yellow-700: #cd7612 !default;
$yellow-800: #92400e !default;
$yellow-900: #78350f !default;

/* Red */
$red-50: #fff0f0 !default;
$red-100: #fbe5e5 !default;
$red-200: #fecaca !default;
$red-300: #f6abab !default;
$red-400: #f07979 !default;
$red-500: #e35050 !default;
$red-600: #dc2626 !default;
$red-700: #cd3535 !default;
$red-800: #8c2828 !default;
$red-900: #732929 !default;

/* Purple */
$purple-50: #faf8fc !default;
$purple-100: #f5ecf9 !default;
$purple-300: #d4a6eb !default;
$purple-400: #c17ee3 !default;
$purple-500: #ae56da !default;
$purple-700: #9047b4 !default;
$purple-800: #773b95 !default;
$purple-900: #592d70 !default;

$primary: var(--theme-main-color) !default;
$primaryFont: var(--theme-primary-font) !default;

/* Screen sizes */

$screen-extra-sm-v2: 414px !default;
$screen-extra-sm: 480px !default;
$screen-extra-sm-v3: 560px !default;
$screen-sm: 600px !default;
$screen-md: 768px !default;
$screen-md-v2: 991px !default;
$screen-lg: 1024px !default;
$screen-xlg: 1350px !default;
$screen-xl: 1920px !default;

/* Activity editor blocks width */
$activity-block-width: 875px !default;
$horizontal-label-width: 180px !default;

$colors: (
  primary: $primary,
  theme: $primary,
  secondary: $blue-gray-500,
  error: $red-500,
  valid: $green-500,
  warning: $yellow-500,
  info: $blue-gray-400,
  text: $blue-gray-700,
  white: $white,
  black: $black,
  green-50: $green-50,
  green-100: $green-100,
  green-200: $green-200,
  green-300: $green-300,
  green-400: $green-400,
  green-500: $green-500,
  green-600: $green-600,
  green-700: $green-700,
  green-800: $green-800,
  green-900: $green-900,
  gray-50: $gray-50,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,
  blue-gray-50: $blue-gray-50,
  blue-gray-100: $blue-gray-100,
  blue-gray-200: $blue-gray-200,
  blue-gray-300: $blue-gray-300,
  blue-gray-400: $blue-gray-400,
  blue-gray-500: $blue-gray-500,
  blue-gray-600: $blue-gray-600,
  blue-gray-700: $blue-gray-700,
  blue-gray-800: $blue-gray-800,
  blue-gray-900: $blue-gray-900,
  blue-50: $blue-50,
  blue-100: $blue-100,
  blue-200: $blue-200,
  blue-300: $blue-300,
  blue-400: $blue-400,
  blue-500: $blue-500,
  blue-600: $blue-600,
  blue-700: $blue-700,
  blue-800: $blue-800,
  blue-900: $blue-900,
  yellow-50: $yellow-50,
  yellow-100: $yellow-100,
  yellow-200: $yellow-200,
  yellow-300: $yellow-300,
  yellow-400: $yellow-400,
  yellow-500: $yellow-500,
  yellow-600: $yellow-600,
  yellow-700: $yellow-700,
  yellow-800: $yellow-800,
  yellow-900: $yellow-900,
  red-50: $red-50,
  red-100: $red-100,
  red-200: $red-200,
  red-300: $red-300,
  red-400: $red-400,
  red-500: $red-500,
  red-600: $red-600,
  red-700: $red-700,
  red-800: $red-800,
  red-900: $red-900,
  purple-50: $purple-50,
  purple-100: $purple-100,
  purple-300: $purple-300,
  purple-400: $purple-400,
  purple-500: $purple-500,
  purple-700: $purple-700,
  purple-800: $purple-800,
  purple-900: $purple-900,
);

:export {
  @each $key, $value in $colors {
    #{"" + $key}: $value;
  }
  activity-block-width: $activity-block-width;
  horizontal-label-width: $horizontal-label-width;
}
