/* stylelint-disable number-leading-zero  */

/* Variables

 Variables should follow the `$component-state-property-size` formula for
 consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs. */

/* Base */
$white: #ffffff !default;
$black: #000000 !default;

$colors: (
  white: $white,
  black: $black,
);

:export {
  @each $key, $value in $colors {
    #{"" + $key}: $value;
  }
}
