/* stylelint-disable selector-pseudo-class-no-unknown  */
@import './variables.module.scss';
@import './mixins.scss';
@import './prosemirror.scss';
@import './codemirror.scss';
@import '../fonts/icomoon/style.css';

:root {
  --theme-button-color: #{$blue-700};
  --theme-main-color: #{$blue-700};
  --theme-primary-font: 'Inter', sans-serif;
}

html,
body,
#root {
  height: 100%;
  display: block;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:focus {
  font-weight: 400;
  text-decoration: none;
  outline: none;
}

a[disabled] {
  pointer-events: none;
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

hr {
  border: 0.5px $blue-gray-400 solid;
  color: $blue-gray-400;
}

blockquote {
  padding: 0 0.5em;
  margin: 20px 1em;
  border-left: 0.25em solid #dfe2e5;
}

mark {
  padding: 0;
  background-color: #ffff0060;
}

summary:focus {
  outline: none;
}

pre {
  margin-bottom: 0;
}

.error-message {
  min-height: 1.5em;
}

.ant-checkbox:hover::after,
.ant-checkbox-wrapper:hover .ant-checkbox::after {
  visibility: hidden;
}

.modal-common-styling {
  width: 600px !important;
  .heading-label-form {
    margin-bottom: 24px;
    h4 {
      margin: 0;
      font-weight: 600;
      font-size: 24px;
    }
    .d-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 6px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: $gray-500;
      word-break: break-word;
    }
  }
  button.icon-button {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
}

.Toastify__toast {
  padding: 12px;
  border-radius: 8px;
  background: rgba($white, 0.6);
  backdrop-filter: blur(24px);
  mix-blend-mode: normal;
  margin: 0 auto;
  transition:
    margin 0.1s ease,
    width 0.1s ease;
  width: 360px;
  &:first-child {
    z-index: 2;
    background: rgba($white, 0.8);
  }
  &:nth-child(2) {
    z-index: 1;
    width: 330px;
    margin-top: -10px;
    .Toastify__toast-body {
      font-size: 13px;
      line-height: 18px;
    }
  }
  &:nth-child(3) {
    z-index: 0;
    width: 300px;
    margin-top: -23px;
    .Toastify__toast-body {
      font-size: 12px;
      line-height: 16px;
      opacity: 0.3;
    }
  }

  @include shadow-xl;
  &-body {
    align-items: flex-start;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: $blue-gray-700;
    transition:
      font-size 0.1s ease,
      line-height 0.1s ease,
      opacity 0.1s ease;
    a,
    a:link {
      color: $primary;
      font-weight: 600;
    }
  }
  &-icon {
    padding-top: 3px;
  }
  &-container {
    width: 360px;
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $gray-200;
}

.ant-tooltip-arrow {
  display: none;
}

.ant-tooltip-inner {
  min-height: auto;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  white-space: pre-line;
  color: $white;
  background-color: $blue-gray-700;
  border-radius: 4px;
  box-shadow: none;
}

.ant-radio-group {
  display: block;
  label:not(:first-child) {
    margin-left: 16px;
  }
}

label.ant-radio-wrapper {
  margin: 0;
  line-height: 1;
  align-items: center;
  &::after {
    content: none;
  }
}

span.ant-radio-checked {
  .ant-radio-inner {
    background-color: $primary;
    &::after {
      transform: scale(0.375);
      background-color: $white;
    }
  }
  &.ant-radio-disabled .ant-radio-inner {
    background-color: $gray-200;
  }
}

.ant-radio-disabled .ant-radio-inner {
  background-color: $blue-gray-50;
  border-color: $gray-100;
  &::after {
    transform: scale(0.375);
  }
}

.ant-radio-inner {
  border-color: $gray-300;
  &::after {
    background-color: $white;
  }
}

// rewrite inline blob formatter styles
.blot-formatter__toolbar-button {
  overflow: hidden;
  border: 2px solid $gray-200 !important;
  height: 30px !important;
  width: 30px !important;
  &:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 0 !important;
  }
  &:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0 !important;
  }
  svg {
    border: none !important;
    line:global(.ql-stroke) {
      stroke: $blue-gray-700;
    }
  }
  &.is-selected {
    filter: none !important;
    background: $gray-200 !important;
    svg {
      background: $gray-200 !important;
    }
  }
}

//rewrite ant checbox global styles
.ant-checkbox-indeterminate .ant-checkbox-inner {
  background-color: $blue-700;
  border-color: $blue-700;
  &::after {
    background-color: $white;
    height: 2px;
  }
}

.full-height {
  height: 100%;
}

.math-inline {
  display: inline;
}

div#hubspot-messages-iframe-container {
  display: none !important;
  &:has(.hs-shadow-container.active) {
    display: initial !important;
  }
}

.Canny_BadgeContainer .Canny_Badge {
  top: 2px;
  right: 3px;
  padding: 4px;
  background-color: $red-700;
  border: 1px solid $white;
  border-radius: 50%;
}
