@import 'styles/variables.module';
@import 'styles/mixins';

.input {
  width: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: $white;
  border: 1px solid $gray-200;
  border-radius: 6px;
  outline: none;
  overflow: auto;
  transition-property: box-shadow, border;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  textarea {
    width: 100%;
    padding: 0;
    background-color: inherit;
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
    line-height: 20px;
    color: $blue-gray-700;
    &::placeholder {
      color: $blue-gray-400;
      font-weight: 300;
    }
  }
  &:hover {
    border-color: $gray-400;

    @include shadow-small;
  }
  &:focus-within {
    border-color: $blue-500;

    @include shadow-small;
  }
  &.error,
  &.error:hover {
    border-color: $red-500;
  }
}

.small {
  padding: 10px 8px 1px;
  min-height: 24px;
  font-size: 12px;
  line-height: 16px;
}

.medium {
  padding: 10px 8px 1px;
  min-height: 29px;
}

.large {
  padding: 10px 16px;
  min-height: 38px;
}
